.content__tasks {
    max-width: 760px;
    margin-left: -20px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.content__task {
    max-width: 300px;
    width: 300px;
    padding: 20px;
    margin: 0 20px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
}

.content__task:hover {
    transform: scale(1.05);
}

.content__time {
    width: 100%;
    padding: 10px 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 6px;
    font-size: 24px;
    box-sizing: border-box;
}

.content__title {
    padding: 2px 0;
    padding-left: 4px;
    font-size: 24px;
    border-radius: 6px;
}

.content__title_error {
    background-color: red;
    color: #fff;
}

.content__title_complete {
    background-color: limegreen;
    color: #fff;
}

.content__priority {
    margin: 4px 0;
    font-size: 18px;
}

.content__date-end {
    font-size: 18px;
}

.content__worker {
    margin: 4px 0;
    font-size: 18px;
}
